
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

@media (max-width: 516px) {
  body {
    text-align: center;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

}
/************ Navbar Css ************/
nav.navbar {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.toggler-clicked {
  background-color: #121212;
 
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand img {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 5px;
}

nav.navbar .logo-name {
  font-weight: 600;
  color: #9EBC9E;
  letter-spacing: 0.8px;
  padding: 0 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
  opacity: 0.75;
  text-decoration: none;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 600;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 5px  15px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    font-weight: 600;
    color: #9EBC9E !important;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-flex;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon .github-mark img {
	width: 80%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 600;
  color: #9EBC9E;
  border-radius: 0.5rem;
  border: 1px solid #9EBC9E;
  padding: 12px 30px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.navbar-expand-lg .navbar-text button{
  padding: 15px;
}

.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #9EBC9E;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
  border-radius: 0.6rem !important;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:hover {
  transition: all 100ms linear;
  top: -1px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: #121212;
}

@media (max-width: 1200px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    padding: 5px 15px;
  }
}

@media (max-width: 991px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 700;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 4px  18px;
    font-size: 20px;
    opacity: 0.75;
  }

  span.navbar-text{
    padding: 0px;
  }


  .navbar-text button {
    font-weight: 700;
    color: #9EBC9E;
    border-radius: 0.5rem;
    border: 1px solid #9EBC9E;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
  }

  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    background-color: #9EBC9E;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
    color: #121212;
    border-radius: 0.6rem !important;
  }

  .navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .navbar-expand-lg .navbar-text button{
    padding: 12px;
  }
  
  .navbar-text button span {
    z-index: 1;
  }

  .social-icon{
    padding-top: 5px;
    margin-bottom: 0px;
  }

  .social-icon a {
    width: 35px;
    height: 35px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .social-icon a::before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	  transition: 0.3s ease-in-out;
  }

}

/************ Banner Css ************/

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./img/header.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(73, 81, 89) 30%, rgba(158, 188, 158) 190%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner h2 {
  font-size: 35px;
  font-weight: 750;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.txt-rotate {
  color:#9EBC9E;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


@media (max-width: 520px) {
  .banner {
    padding: 160px 0 100px 0;
  }

  .banner h1 {
    font-size: 45px;
    margin-bottom: 15px;
  }

  .banner h2 {
    font-size: 30px;
    font-weight: 750;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }

}

/************ ScrollToTopButton Css ************/

.scroll-to-top {
  z-index: 100;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #4c4c4c;
  color: #9EBC9E;
  border-radius: 10px;
  border: 1px solid #9EBC9E;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.scroll-to-top.visible {
  display: block;
}

/************ Skills Css ************/

.skills {
  padding: 150px 0px 50px 0px;
  position: relative;
  background: linear-gradient(to bottom, #171717, #1d1d1d);
}

.skill-bx {
  background:#2a2a2a;
  border-radius: 64px;
  border: 1px solid #3b3b3b;
  text-align: center;
  padding: 20px 20px;
  margin-top: -60px;
}

.skills h2 {
  text-align: center;
	font-size: 35px;
	font-weight: 700;
  padding-bottom: 10px;
}

.skills h4{
  color: white;
  text-align: center;
  font-size: 24px;
	font-weight: 550;
  text-decoration: underline;
  text-decoration-color: #799179;
  padding: 3%;
}

.skills .item{
  padding-bottom: 5%;
}

.skills h3{
  text-align: left;
  padding-left: 3%;
  color: white;
  font-size: 18px;
	font-weight: 550;
  margin-bottom: 0px;
}

.skills .progress-container{
  position: relative;
}

.skills .label{
  font-weight: 700;
  right:0;
  position: absolute;
  padding-right: 20px;
  margin-top: -3px;
  z-index: 10;
  color: black;
}
.skills .progress-bar{
  padding-left: 10px;
  padding-right: 10px;
  z-index: 6;
}

.skills .bg-custom{ 
  background-color: #799179;
}

/************ Projects Css ************/
.projects {
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.projects h2 {
  text-align: center;
	font-size: 35px;
	font-weight: 700;
  padding-bottom: 10px;
}

.projects .project-subtitle{
  color: white;
  text-align: center;
  font-size: 19px;
  padding: 0px 30px 30px 30px;
}

.project-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
  font-size: 19px;
}

.project-item{
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(29, 29, 29);
  font-weight: var(--font-medium);
  text-transform: capitalize;
}

.project-item:hover{
  border-color:#9EBC9E;
  background-color: #262626;
  color: #9EBC9E;

}

.project-container {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  padding-bottom: 0px;
}

.project-card {
  background: #3b3b3b;
  border: 1px solid #6f6f6f;
  padding: 1.25rem;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-img {
  width: 330px;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: var(--mb-1);
}

.project-title {
  font-size: 18px;
  font-weight: var(--font-medium);
  padding-top: 8px;
}

.project-description {
  word-wrap: break-word;
  max-width: 330px;
  font-size: 16px;
  font-weight: var(--font-medium);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin-top: auto;
  margin-bottom: 0;
}

.tag {
  background-color: #8bb48b;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.project-button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  column-gap: 0.25rem;
}

.project-card button {
  color: #9EBC9E;
  font-size: 1rem;
}

.project-card button svg {
  transition: 0.3s ease-in-out;
}
.project-card button:hover svg {
  margin-left: 8px;
}

.active-project {
  border-color: #9EBC9E;
  color: #9EBC9E;
  background-color:#262626;
}

@media screen and (max-width:992px) {
  .project-container {
    gap: 1.2rem;
  }

  .project-card {
    padding: 1rem;
  }

  .project-img {
    margin-bottom: 0.75rem;
  }

  .project-title {
    margin-bottom: 0.80rem;
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: max-content;
  }
}

/************ Portfolio Css ************/
.portfolio {
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 90px;
}

.portfolio-box {
  background: #3b3b3b;
  border-radius: 34px;
  border: 1px solid #6f6f6f;
  text-align: center;
  padding: 20px 20px;
  margin: 0px 25px 40px 25px;
  width: auto;
}

.portfolio h2 {
  text-align: center;
	font-size: 35px;
	font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.portfolio-subtitle{
  color: white;
  text-align: center;
  font-size: 19px;
  padding: 0px 30px 30px 30px;
}

.portfolio-gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1116px;
  padding-bottom: 150px;
}

.portfolio-item {
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.portfolio-item img {
  height: auto;
  max-width: 744px;
  max-height: 350px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: none;
}

.portfolio--item:hover .portfolio-overlay {
  display: block;
}

.portfolio-item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.portfolio-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.portfolio-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  
}

.portfolio-popup-content {
  background: #2e2e2e;
  padding: 25px;
  text-align: center;
  position: relative;
  max-height: 78%;
  max-width: 50%;
  width: auto;
  overflow: auto;
  border-radius: 10px;
  border: 2px solid #686868;
}

.portfolio-popup-content img{
  margin-top: 12px;
  max-height: 600px;
  max-width: 100%;
  width: auto;
}

.portfolio-popup-content h3{
  text-align: left;
  padding: 15px 20px 0px 20px;
}

.portfolio-popup-content p{
  text-align: left;
  padding: 2px 20px 0px 20px;
  margin-bottom: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.portfolio-tools{
  margin-top: 15px;
}

.portfolio-close-btn {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 100px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-wrapper {
  border-radius: 10px;
  overflow: auto;
}

.source-link {
  color: #9EBC9E;
}

.source-paragraph {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .portfolio-popup-content {
    max-width: 65%;

  }
  
  .portfolio-popup-content h3{
    text-align: left;
    padding: 15px 10px 0px 10px;
  }
  
  .portfolio-popup-content p{
    padding: 2px 10px 0px 10px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-popup-content {
    max-width: 90%;
  }
  
  .portfolio-popup-content h3{
    text-align: left;
    padding: 15px 5px 0px 5px;
  }
  
  .portfolio-popup-content p{
    padding: 2px 5px 0px 5px;
  }
}

@media screen and (max-width:618px) {
  .portfolio-popup-content img{
    margin-top: 12px;
    height: auto;
    max-width: 100%;
  }
}

/************ Education Css ************/

.education {
  padding: 80px 0 50px;
  position: relative;
  background-color:  #1d1d1d;
}

.education-bx {
  background: #2f2f2f;
  border-radius: 64px;
  border: 1px solid #6f6f6f;
  text-align: center;
  padding: 20px 20px;
  margin-top: -150px;
}

.education .row{
  justify-content: center;
}

.education h2 {
  text-align: center;
	font-size: 35px;
	font-weight: 700;
  padding-bottom: 10px;
}

.education img {
  max-width: 350px;
  margin-bottom: 10px;
}

.education h4{
  color: white;
  text-align: center;
  font-size: 24px;
	font-weight: 550;
  text-decoration: underline;
  text-decoration-color: #799179;
  padding: 3%;
}



/************ Footer Css ************/

.footer {
  background-color: #000000;
  padding: 25px 0 25px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 80px;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 0px !important;
}

.footer-social-icon {
  display: inline-flex;
  margin-left: 14px;
}
.footer-social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.footer-social-icon a:hover::before {
  transform: scale(1);
}
.footer-social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.footer-social-icon .github-mark img {
  width: 80%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.footer-social-icon .email img {
  width: 65%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}


.footer-social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media screen and (max-width:576px) {
  .footer .text-center {
    text-align: center;
  }

  .footer .logo {
    padding-bottom: 20px;
  }

  .footer img {
    display: block;
    margin: 0 auto;
    width: 50px;
  }
}

